# A secret value used for encryption and hashing. 
# It must be at least 32 characters and generated with high entropy. 
# You can also use openssl rand -base64 32 to generate one.
BETTER_AUTH_SECRET=s3cr3t

BETTER_AUTH_URL=http://localhost:3000 # Base URL of your app

# Google OAuth credentials. You can obtain these from the Google Cloud Console.
GOOGLE_CLIENT_ID=
GOOGLE_CLIENT_SECRET=
